Package: gzip-win32
Source: gzip
Version: 1.9-2
Architecture: all
Maintainer: Bdale Garbee <bdale@gag.com>
Installed-Size: 45
Suggests: wine
Section: utils
Priority: optional
Description: GNU compression utility (win32 build)
 This is a win32 version of gzip, meant to be used by the win32-loader
 component of Debian-Installer.
